@{
    ViewData["Title"] = "Mesas Disponíveis";
}

<div>
    <h3>Mesas Disponíveis</h3>

    <div class="row">
        <div class="col-md-2 box-mesa">
            <a asp-controller="Comanda" asp-action="Index">
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 1</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 2</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 3</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 4</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 6</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 7</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 15</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 40</p>
            </a>
        </div>
        <div class="col-md-2 box-mesa">
            <a>
                <span class="material-icons text-success icone-mesa">local_dining</span>
                <p>Mesa 46</p>
            </a>
        </div>
    </div>
</div>